.questions {
  max-width: 85%;

  @media (max-width: 768px) {
      max-width: unset;
  }

  &__message {
    &-container {
      padding-top: 10px;
      padding-bottom: 10px;
      max-height: 500px;
      overflow-y: auto;
      padding-right: 20px;
    }
    &:first-child {
      margin-top: 0;
    }
    margin-top: 48px;
    box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.04), 0px 2px 4px rgba(96, 97, 112, 0.16);
    border-radius: 6px;
    padding: 30px 30px 30px 43px;
    &-lw {
      margin-left: 16px;
    }
    &-inner {
      display: flex;
    }
    &-left {
      clear: both;
      float: left;
    }
    &-right {
      clear: both;
      float: right;
      max-width: 80%;
    }
    &-avatar {
      border-radius: 50%;
      height: 56px;
      width:56px;
    }
    &-from {
      font-size: 20px;
      line-height: 30px;
      font-weight: 600;
    }
    &-time {
      margin-top: 5px;
      font-size: 14px;
      color: #959393;
    }
    &-text{
      margin-top: 16px;
      font-size: 16px;
      line-height: 28px;
    }
    &-response-action-wrapper{
      width: 100%;
      text-align: right;
    }
    &-response-action{
      a {
        color: #959393;
        svg {
          fill: #959393;
        }
        width: max-content;
        display: inline-block;
        &:hover {
          color: $main_orange;
          svg {
            fill: $main_orange;
          }
        }
      }
    }
  }
  &__ask-form {
    clear: both;
    padding-top: 62px;
    padding-bottom: 62px;
    h2 {
      margin-top: 32px;
      margin-bottom: 32px;
    }
    textarea {
      border: none;
      background: #F8F8F8;
      font-size: 16px;
      border-radius: 12px;
      height: 300px;
      width: 100%;
      padding: 32px;
    }
    &-send {
      float: right;
      margin-top: 20px;
      margin-bottom: 20px;
      width: max-content;
      padding-right: 32px;
      padding-left: 32px;
      padding-top: 10px;
      padding-bottom: 10px;
      svg {
        margin-left: 10px;
      }
    }
  }
}
